<!DOCTYPE html>
<html lang="en">
  <footer class="footer flex-column">
    <h2 class="footer_headertext">Contact Us</h2>
    <ul role="list" class="navbar_text">
      <li class="list-inline">
        <a href="https://github.com/Tonyyuu2/Quiz-Mania"
          ><img src="https://svgshare.com/i/gAK.svg" alt="git_img"
        /></a>
      </li>
      <li class="list-inline">
        <a href="/"
          ><img src="https://svgshare.com/i/g9S.svg" alt="linkedin_img"
        /></a>
      </li>
      <li class="list-inline">
        <a href="/"
          ><img src="https://svgshare.com/i/g9m.svg" alt="twitter_img"
        /></a>
      </li>
      <li class="list-inline">
        <a href="/"
          ><img src="https://svgshare.com/i/g92.svg" alt="instagram_img"
        /></a>
      </li>
    </ul>
    <p>
      Created with
      &nbsp
      <a href="https://emoji.gg/emoji/2988-ukraine-heart"
        ><img
          src="https://emoji.gg/assets/emoji/2988-ukraine-heart.png"
          width="30px"
          height="30px"
          alt="ukraine_heart"
        />
        &nbsp
        by <span>Quiz Maniacs</span>
        <p>&copy; 2022 Quiz Mania, Canada. All rights not received.</p></a
      >
    </p>
  </footer>
</html>
