<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/partials.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="navbar flex-row">
      <a href="/">
        <img
          src="https://www.linkpicture.com/q/QuizMania_1.png"
          alt="logo_img"
          class="logo"
        />
      </a>
      <div>
        <ul role="list" class="navbar_text">
          <li class="list-inline"><a href="/">Home</a></li>
          <li class="list-inline"><a href="/quizzes/add">Create Quiz</a></li>
          <li class="list-inline"><a href="/my_attempts">My History</a></li>
          <li class="list-inline"><a href="/quizzes/view">My Quizzes</a></li>
          <li class="list-inline"><a href="/">Logout</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
