<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/partials.css" type="text/css" />

    <header>
      <div class="headermain">
        <div class="logowrapper">
          <div class="brainimg">
            <img
              src="https://images-ext-2.discordapp.net/external/9Fc8BLhx8Je5T0Ko3LJyeyHgXrgqSdH8KZ9XMAyo2vg/https/is3-ssl.mzstatic.com/image/thumb/Purple123/v4/36/6f/0f/366f0fb1-3f5b-9926-4306-56fd783fc8f4/source/512x512bb.jpg"
              width="100px"
              height="100px"
            />
          </div>
          <span class="navbar-brand" href="/">Quiz-Mania</span>
        </div>

        <div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/createquiz">Create a Quiz!</a></li>
            <li><a href="/myattempts">My Attempts</a></li>
            <li><a href="/">Logout</a></li>
          </ul>
        </div>
      </div>
    </header>
  </head>
</html>
