<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/yourcode.js"
      crossorigin="anonymous"
    ></script>
    <title>QuizMania - Home</title>
    <link rel="stylesheet" href="/styles/welcome.css" type="text/css" />
  </head>

  <body>
    <%- include('partials/_header') %>
  <div class="main_welcome_container flex-column">
    <div class="content_container">

  <img class="brainimg" src="https://www.linkpicture.com/q/Brain_2.png">
    <h1 class="welcomeTitle">Welcome to Quiz-Mania!</h1>
    <h2>Knowledge is Power</h2>
    <div class="button_container">
      <button class="enter">Test Your Knowledge</button>
      </div>
    </div>
  </div>
    <%- include('partials/_footer') %>
  </body>
</html>
