<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="/styles/user_generated_quiz.css"
      type="text/css"
    />
    <title>QuizMania - Share the Quiz</title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="q_container flex-column">
      <img src="https://svgshare.com/i/gA8.svg" class="board_img" />
      <h2>Here's your quiz</h2>
      <div>
        <a class="primary-btn q_btn" id="share" href="/quizzes/u/<%= url %>"
          >Share with friends</a
        >
        <a
          class="primary-btn q_btn"
          target="_blank"
          href="/quizzes/u/<%= url %>"
          >Take this Quiz now</a
        >
      </div>
    </div>
    <%- include('partials/_footer') %>
  </body>
</html>
