<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QuizMania - Question</title>
    <link rel="stylesheet" href="/styles/question.css" type="text/css" />
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="ques_contanier nav-margin">
      <div class="ques_title flex-row">
        <h1 class="ques_number">1.</h1>
        <h2 class="ques">
          Which modern American Icon turned his sketches into an animated and
          theme park empire?
        </h2>
      </div>
      <div class="ques_options flex-row">
        <div class="options">
          <input
            type="radio"
            id="margotDisney"
            name="quesOne"
            value="margotDisney"
          />
          <lable for="margotDisney">Margot Disney</lable>
        </div>
        <div class="options">
          <input
            type="radio"
            id="waltDisney"
            name="quesOne"
            value="waltDisney"
          />
          <lable for="waltDisney">Walt Disney</lable>
        </div>
        <div class="options">
          <input type="radio" id="royDisney" name="quesOne" value="royDisney" />
          <lable for="royDisney">Roy Disney</lable>
        </div>
        <div class="options">
          <input
            type="radio"
            id="maddoxDisney"
            name="quesOne"
            value="maddoxDisney"
          />
          <lable for="maddoxDisney">Maddox Disney</lable>
        </div>
      </div>
      <div class="ques_btn flex-row">
        <a class="primary-btn" href="/">Previous</a>
        <a class="primary-btn" href="/">Next</a>
      </div>
    </div>
    <%- include('partials/_footer') %>
  </body>
</html>
