<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QuizMania - Result</title>
    <link rel="stylesheet" href="/styles/result.css" type="text/css" />
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="result_container nav-margin">
      <div class="success_msg">🎉Congratulation for completing this quiz😇</div>
      <div class="quiz_desc">Quiz Name: Chemistry</div>
      <div class="score">Your score: 9/10</div>
      <div class="share_btn">
        <a class="primary-btn share">Share your result</a>
        <a class="primary-btn">Take another quiz</a>
      </div>
    </div>
    <%- include('partials/_footer') %>
  </body>
</html>
