<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz - Question</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/question.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="ques_contanier">
      <div class="ques_title flex-row">
        <h1 class="ques_number">1.</h1>
        <h2 class="ques">
          Which modern American Icon turned his sketches into an animated and
          theme park empire?
        </h2>
      </div>
      <div class="ques_options flex-row">
        <div class="options">
          <input
            type="radio"
            id="margotDisney"
            name="quesOne"
            value="margotDisney"
          />
          <lable for="margotDisney">Margot Disney</lable>
        </div>
        <div class="options">
          <input
            type="radio"
            id="waltDisney"
            name="quesOne"
            value="waltDisney"
          />
          <lable for="waltDisney">Walt Disney</lable>
        </div>
        <div class="options">
          <input type="radio" id="royDisney" name="quesOne" value="royDisney" />
          <lable for="royDisney">Roy Disney</lable>
        </div>
        <div class="options">
          <input
            type="radio"
            id="maddoxDisney"
            name="quesOne"
            value="maddoxDisney"
          />
          <lable for="maddoxDisney">Maddox Disney</lable>
        </div>
      </div>
      <div class="ques_btn flex-row">
        <a class="primary-btn" href="/">Previous</a>
        <a class="primary-btn" href="/">Next</a>
      </div>
    </div>
  </body>
</html>
