body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.primary-btn {
  padding: 0.5rem 1.2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  background: rgb(43, 110, 219);
  color: #ffffff;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}
