body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  background: #f9fafb85;
  margin: 0;
}

a {
  text-decoration: none;
  line-height: 1.5rem;
  color: inherit;
}
ul[role="list"] {
  list-style: none;
  padding: 0;
}

.text-center {
  text-align: center;
}

.primary-btn {
  padding: 0.5rem 1.2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  background: rgb(43, 110, 219);
  color: #ffffff;
}

.primary-btn:hover{
  background: rgb(206, 135, 237);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.list-inline {
  display: inline;
  margin: 0 2vw;
}

.nav-margin {
  display: flex;
  justify-content: center;
  margin-top: 25vh;
}

.welcome {
  float: left;
  padding: 5px;
}

.user_name1 {
  float: left;
  padding: 5px;
  display: block;
    opacity: 0;
    animation: revealText 1s forwards;
    animation-delay: .4s
}

@keyframes revealText {
  from{
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: none;
  }
}

.quizheader {
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  float: left;
  padding-right: 10px;
}

#star {
  color: rgb(227, 227, 5);
}
