.quiz {
  display: flex;
  justify-content: space-around;

  &_card {
    margin: 1rem;
    border-radius: 1rem;
    background-color: #df8ff5;
    background-image: linear-gradient(
      to right top,
      #d0c4ed,
      #dcafeb,
      #fbc2eb,
      #f5bee8,
      #f9e4f6
    );
    padding: 1em 1em;
  }

  &_header {
    text-align: center;
    font-size: 1.5rem;
  }

  &_card:hover {
    transition: 0.5s;
    box-shadow: 8px 8px 10px #888888;
  }
}

.user_name {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
  float: left;
  padding: 5px;
  display: block;
  opacity: 0;
  animation: revealText 1s forwards;
  animation-delay: 0.4s;
}

.create_quiz_container {
  margin: 0 auto 4rem auto;
  width: 30%;
  gap: 1.2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 2rem;
  padding: 2rem;
}

.visibility_option input {
  margin: 0 10px;
}

#radioinput {
  background: pink;
}

.header_text {
  text-align: center;
}

.brain_img {
  position: absolute;
  right: 40rem;
  top: 15.1rem;
  clip: rect(0px, 100px, 73.5px, 0px);
  max-width: 100%;
  height: auto;
}

.input {
  border: none;
  border-bottom: 3px solid #b880f4;
  border-radius: 2rem;
  background: rgb(227, 227, 227);
  padding: 5px;
}
