.quiz {
  display: flex;
  justify-content: space-around;

  &_card {
    margin: 1rem;
    border-radius: 1rem;
    background-image: linear-gradient(
      to right top,
      #E1F0FA,
      #C6E1F2,
      #A9D1EA,
      #84a9f9,
      #94d9fe
    );
    padding: 2px 5em 20px;
  }

  &_header {
    text-align: center;
    font-size: 1.5rem;
  }

  &_card:hover {
    transition: 0.5s;
    box-shadow: 8px 8px 10px #888888;
  }
}

.homeHeadingContainer {
  display: flex;
  justify-content: column;
  align-items:center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.4;
  height: 10%;
  z-index: -1;
}

.nav-margin {
  align-items: center;
}

.randomQuizContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-evenly;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 40px;
  margin-top: 20px;
}

// .randomHeading {
//   margin: auto;
//   overflow: hidden;
//   position: relative;
// }

.randomHeading1 {
  margin: auto;
  color: #333;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
}


.generator {
  margin-top: 20px;
  box-shadow: 0 9px rgb(123, 123, 123);
}

.generator:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}




.user_name {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
  float: left;
  padding: 5px;
  display: block;
  opacity: 0;
  animation: revealText 1s forwards;
  // animation-delay: 0.4s;
}

.welcome {
  float: left;
  padding: 5px;
  // animation-name: revealText;
}

.user_name1 {
  padding-left: 5px;
  color: #72ccfc;
  animation: revealText2 4s forwards;
  animation-delay: 0.1s;
}

@keyframes revealText {
  from {
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes revealText2 {
  from {
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.create_quiz_container {
  margin: 0 auto 4rem auto;
  width: 30%;
  gap: 1.2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 2rem;
  padding: 2rem;
}

.visibility_option input {
  margin: 0 10px;
}

#radioinput {
  background: pink;
}

.header_text {
  text-align: center;
}

.brain_img {
  position: absolute;
  right: 40rem;
  top: 15.1rem;
  clip: rect(0px, 100px, 73.5px, 0px);
  max-width: 100%;
  height: auto;
}

.input {
  border: none;
  border-bottom: 3px solid #b880f4;
  border-radius: 2rem;
  background: rgb(227, 227, 227);
  padding: 5px;
}

i {
  float: left;
  padding-right: 10px;
}

#star {
  color: rgb(237, 237, 5);
}

#userIcon {
  color: #72ccfc;
}

