.result_container {
  margin: 10rem auto;
  height: 25rem;
  position: relative;
  z-index: 100;
  width: 60%;
  border: 3px solid whitesmoke;
  padding: 10px;
  border-radius: 2rem;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 74%);
  text-align: center;
  background: linear-gradient(
    124deg,
    #5e98fc,
    #89b3fc,
    #4681e8,
    #6898eb,
    #83a8e8,
    #33a4ac,
    #6fd4eb,
    #9bd1f2
  );
  color: #ffffff;
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.success_msg {
  font-size: 1.9rem;
  margin: 1rem 0;
  font-weight: 600;
}

.quiz_desc {
  margin-top: 6rem;
  font-size: 1.5rem;
}

.score {
  margin: 2rem 0 4rem 0;
  font-size: 1.5rem;
}

.share {
  margin-right: 1rem;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

//Confetti animation
@keyframes confetti-slow {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
  }
}
@keyframes confetti-slow {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
  }
}
@keyframes confetti-medium {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
  }
}
@keyframes confetti-fast {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
  }
}
.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.confetti {
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 0;
}
.confetti--animation-slow {
  animation: confetti-slow 2.25s linear 1 forwards;
}
.confetti--animation-medium {
  animation: confetti-medium 1.75s linear 1 forwards;
}
.confetti--animation-fast {
  animation: confetti-fast 1.25s linear 1 forwards;
}

dialog {
  padding: 100px;
  margin-top: 170px;
  border-radius: 2rem;
  border-color: transparent;
  backdrop-filter: blur(13px);
  background-color: transparent;
}

dialog > share_url {
  padding-bottom: 40px;
}

p {
  padding-bottom: 30px;
  font-size: 1.3em;
  font-weight: bold;
  color: white;
}

.share_url {
  padding: 8px;
  border: solid 2px rgb(215, 215, 215);
  box-shadow: 6px 6px 6px rgb(62, 62, 62);
  color: white;
}

dialog button {
  padding: 0.5rem 1.2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  background: rgb(43, 110, 219);
  color: #ffffff;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

.popUpButton {
  padding-top: 60px;
}

.complete {
  color: rgb(69, 245, 69);
}

