.main_container {
  margin: 2rem auto 4rem auto;
  gap: 1rem;
  align-items: center;
  width: 80%;
  background-color: #ccbfda;
  background-image: linear-gradient(
    315deg,
    #ccbfda 0%,
    #c3e4e4 39%,
    #ffffff 95%
  );
  padding: 2rem;
  justify-content: space-between;
  border-radius: 2rem;
  font-size: 1.2rem;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}

.nav-margin {
  display: flex;
  justify-content: flex-start;
}

.rule_image_container {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.rule_banner {
  height: 18rem;
}
.rule_container .fa-solid {
  margin-right: 10px;
  color: rgb(43, 110, 219);
}

.rule_btn {
  margin-top: 20px;
  box-shadow: 0 9px rgb(123, 123, 123);
}

.rule_btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.rule_title_banner {
  height: 12rem;
}

.rule_info {
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.rule_quizname {
  margin: 0;
  justify-content: flex-start;
  // padding-left: 20px;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    rgb(85, 91, 255) 0%,
    rgb(31, 193, 27) 26%,
    rgb(255, 217, 19) 67%,
    rgb(50, 116, 247) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      // font-size: 190px;
}

.mainQuizResultContainer {
  position: relative;
}

//Quiz name gradient animation
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.rocket_container {
  position: absolute;
  padding-left: 800px;
}

